{
  "extends": "eslint-config-egg",
  "rules": {
    // 缩进
    "indent": "off",
    // 句末分号
    "semi": "off",
    // 引号
    "quotes": "off",
    // 严格模式
    "strict": "off",
    // 数组和对象键值对最后一个逗号
    "comma-dangle": "off"
  }
}
